:root {
  /* color palette */
  --main-dark: #4c5fd5;
  --main-light: #dadbf1;
  --neutral-dark: #000000;
  --neutral-mid: #191a1b;
  --neutral-light: #ffffff;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  background-color: var(--neutral-mid);
  color: var(--neutral-light);

  font-family: sans-serif, monospace, serif;
  font-size: 1rem;
  line-height: 1.5;

  width: 100vw;
  height: 100vh;
}

header {
  background-color: var(--neutral-dark);
  font-size: 1.5rem;
  padding: 0 1.875rem;
}

#search-container {
  background-color: var(--main-light);
  color: var(--neutral-mid);
  font-size: 1.25rem;
  padding: 0 1.875rem;
}

#search-container input {
  font-size: 1.25rem;
}

#search-container h1 {
  font-size: 5rem;
}

#topics-container {
  background-color: var(--neutral-light);
  color: var(--neutral-mid);

  font-size: 1.5rem;
  line-height: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1.875rem;
}

.topic {
  width: 50%;
}

.topic h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.topic a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-decoration: none;
  color: var(--main-dark);
}

.topic a:after {
  content: " \2192";
}

footer {
  background-color: var(--neutral-dark);
  padding: 0 1.875rem;
}
